{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "About Us" %}
{% endblock title %}
{% block content %}
    <h2>{% translate "About Us" %}</h2>
    <p>
        {% blocktranslate trimmed %}
            The only constant is the change.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate trimmed %}
            Conducting bussiness in our legislative and market environment
            forces us to act on the changes quickly.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate trimmed %}
            Those who are notified about the changes earlier
            are in a better position on the market.
        {% endblocktranslate %}
    </p>
    <p>
        {% blocktranslate trimmed %}
            Our mission is to promptly notify our customers about
            ongoing changes and new market opportunities.
        {% endblocktranslate %}
    </p>
    {% url 'kontakt' as contact_url %}
    <p>
        {% blocktranslate trimmed %}
            If your firm needs a bespoke solution or you have a suggestion
            do not hesitate to <a href={{ contact_url }}>contact us</a>.
        {% endblocktranslate %}
    </p>
{% endblock content %}
