{% extends "base.html" %}


{% block content %}

<p>Oferujemy <a href="{% url 'deeds_list' %}">monitoring zmian w polskim prawie</a>.</p>

<ul class="list-unstyled">
<li>
    Wyszukaj interesujące akty prawne.
</li><li>
    Zapisz wyszukiwanie wraz z wykazem aktów prawnych
    pasujących do wyszukiwania w&nbsp;danej chwili.
</li><li>
    Otrzymuj powiadomienia przez e-mail, jeśli prawodawca 
    opublikuje nowe akty prawne pasujące do wyszukiwania.
</li>
</ul>

<p>
    Zmiany prawa wciąż mogą zaskakiwać, ale Państwa firma będzie miała<br>
    <b>więcej czasu</b> na reakcję na zmiany.
</p>

<p>
    Pracujemy nad rozwinięciem oferty zmierzając do&nbsp;ułatwienia
    firmom poruszania się po obecnej, niełatwej, rzeczywistości gospodarczej.
</p>
<p>
    Zainteresowanych naszymi produktami zapraszamy
    do&nbsp;<a href="{% url 'newsletter_subscribe' %}">zapisania się</a> na nasz newsletter.
</p>
<p>
    Planujemy wysyłanie do kilku e-maili miesięcznie.
</p>

{% endblock %}
