{% extends 'base.html' %}

{% block title %}{{ deed.title }}{% endblock %}


{% block content %}
<div class="container">

  <p>O akcie</p>

  <h2>{{ deed.title }}</h2>

  <ul class="list-unstyled">
    {# <li>Adres: {{ deed.address }}</li> #}
    <li>Publikacja:
      {% if deed.publisher == 'WMP' %}
      Monitor Polski
      {% elif deed.publisher == 'WDU' %}
      Dziennik Ustaw
      {% endif %}
    </li>
    <li>Rok: {{ deed.year }}</li>
    {% if deed.volume %}
    <li>Tom: {{ deed.volume }}</li>
    {% endif %}
    <li>Nr: {{ deed.pos }}</li>
    <li>Typ: {{ deed.deed_type }}</li>
    <li>Status: {{ deed.status }}</li>
    <li>{{ deed.display_address }}</li>
    <li>Data ogłoszenia: {{ deed.promulgation }}</li>
    <li>Data wydania: {{ deed.announcement_date }}</li>
    {# <li>{{ deed.change_date }}</li> #}
    {# <li>{{ deed.eli }}</li> #}
    <li><a href="http://isap.sejm.gov.pl/api/isap/deeds/{{ deed.publisher }}/{{ deed.year}}/{{ deed.pos }}/text.pdf">Opublikowany przez ISAP tekst aktu formacie pdf</a>
  </ul>
</div>

{% include 'isap/attribution_isap.html' %}

{% endblock %}
