{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% translate "Statues list" %}{% endblock %}


{% block content %}

<div class="mb-3" id="deeds-list">
  <form action="?page=1" method="post" up-submit>
    {% csrf_token %}

    <div class="row">
      <div class="col">
        <input id="query" class="form-control" type="search" name="query" value="{{ query|default:"" }}">
      </div>
    </div> 
    <div class="row">
      <div class="col">
        <input class="btn btn-primary form-control" type="submit" value="{% translate "Search" %}" name="search button">
      </div>
      {% if request.user.is_authenticated %}
      <div class="col">
        <input class="btn btn-primary form-control" type="submit" value="{% translate "Save search" %}" name="save search button">
      </div>
      {% endif %}
    </div>
  </form>

  {% if request.user.is_authenticated %}
  {% if saved_searches_count %}
  <p>
  {% blocktranslate trimmed count saved_searches_count as counter %}
  You have {{ counter }} saved search
  {% plural %}
  You have {{ counter }} saved searches
  {% endblocktranslate %}
  -
  <a href="{% url 'saved_isap_searches' %}">{% translate "saved searches" %}</a>
  </p>
  {% else %}
  <p>You don't have any saved searches</p>
  {% endif %}
  {% endif %}

  {% if not request.user.is_authenticated %}
  <p>{% translate "Creating an account and signing is necessary to use full funcionality of this service" %}. </p>
  {% endif %}

  <p>

  {% blocktranslate trimmed count deeds_count_all as counter %}
  {{ counter }} statue in database
  {% plural %}
  {{ counter }} statues in database
  {% endblocktranslate %}
  {% if query %}<br>
  {% blocktranslate trimmed count deeds_count_query as counter %}
  {{ counter }} statue matching search criteria
  {% plural %}
  {{ counter }} statues matching search citeria
  {% endblocktranslate %}
  {% endif %}
  </p>


  {% if page_obj %}

  {% include 'isap/pagination.html' %}

  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th scope="col">{% translate "Title" %}</th>
        <th scope="col">{% translate "Status" %}</th>
        <th scope="col">{% translate "Change date" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for deed in deeds %}
      <tr>
        <td><a href="{% url 'deed_detail' deed.address %}">{{ deed.title }}</a></td>
        <td>{{ deed.status }}</td>
        <td>{{ deed.change_date }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>{% translate "No statues to display" %}.</p>
  {% endif %}
</div>

</div>
{% include 'isap/attribution_isap.html' %}

{% endblock %}
