{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Remove saved search" %}?
{% endblock title %}
{% block content %}
    <div class="container">
        <p>
            <b>
                {% translate "Remove saved search" %}
                <br>
                "{{ search.query }}"?
            </b>
        </p>
        <form method="post" action="{% url 'saved_search_delete' search.id %}">
            {% csrf_token %}
            <div class="form-group mx-sm-3 mb-2">
                <input class="btn btn-primary"
                       type="submit"
                       value="{% translate "No" %}"
                       name="cancel button">
                <input class="btn btn-danger"
                       type="submit"
                       value="{% translate "Yes" %}"
                       name="delete button">
            </div>
        </form>
    </div>
    {% include "isap/attribution_isap.html" %}
{% endblock content %}
