{% extends 'base.html' %}

{% block title %}wyszukiwanie "{{ search.query }}"{% endblock %}


{% block content %}
<div class="container">

  <p>Wyszukiwanie</p>

  <ul class="list-unstyled">
    <li>Zapytanie: "{{ search.query }}"</li>
    <li>Pierwsze wykonanie: {{ search.first_run_ts }}</li>
    <li>Najnowsze wykonanie: {{ last_run_ts }}</li>
    <li>Liczba różniących się od siebie wyników: {{ results.count }}</li>
  </ul>

<form action="." class="form-up" method="post" up-transition="move-left" up-autosubmit>
  {% csrf_token %}
  <div class="form-check">
    <input type="hidden" name="subscribe-search" value="no">
    <input
    class="form-check-input" type="checkbox" value="yes"
    name="subscribe-search" id="subscribe-search"
    {% if search.subscribed %}checked{% endif %}
    >
    <label class="form-check-label" for="subscribe-search">
      Subskrybuj
    </label>
  </div>
</form>

  {% for result in results %}
  <ul class="list-unstyled">
    <li>Data pierwszego wykonania: {{ result.first_run_ts }}</li>
    <li>Data ostatniego wykonania: {{ result.last_run_ts }}</li>
    <li>Liczba dokumentów w wyniku wyszukiwania: {{ result.number_of_results }}</li>
    <li>
      Nowe dokumenty:
      {% if result.new_docs %}
      <ul class="list-unstyled">
        {% for doc in result.new_docs %}
        <li><a href="{% url 'deed_detail' doc %}">{{ doc }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      brak
      {% endif %}
    </li>
    <li>
      Usunięte dokumenty: 
      {% if result.removed_docs %}
      <ul class="list-unstyled">
        {% for doc in result.removed_docs %}
        <li><a href="{% url 'deed_detail' doc %}">{{ doc }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      brak
      {% endif %}
    </li>
    <li><a href="{% url 'search_isap_result_detail' result.id %}">Wszystkie dokumenty</a></li>
  {% empty %}
  <p>Brak zapisanych wyników wyszukiwania.</p>
  {% endfor %}
  </ul>

</div>

{% include 'isap/attribution_isap.html' %}

{% endblock %}
