{% extends 'base.html' %}

{% block title %}wyszukiwanie "{{ search.query }}"{% endblock %}


{% block content %}
<div class="container">

  <p>Wyszukiwanie</p>

  <ul class="list-unstyled">
    <li>Zapytanie: "{{ search.query }}"</li>
    <li>Pierwsze wykonanie: {{ search.first_run_ts }}</li>
    <li>Najnowsze wykonanie: {{ last_run_ts }}</li>
    <li>Liczba różniących się od siebie wyników: {{ results.count }}</li>
  </ul>

  {% for result in results %}
  <ul class="list-unstyled">
    <li>Data pierwszego wykonania: {{ result.first_run_ts }}</li>
    <li>Data ostatniego wykonania: {{ result.last_run_ts }}</li>
    <li>Liczba dokumentów w wyniku wyszukiwania: {{ result.number_of_results }}</li>
    <li>
      Nowe dokumenty:
      {% if result.new_docs %}
      <ul class="list-unstyled">
        {% for doc in result.new_docs %}
        <li><a href="{% url 'deed_detail' doc %}">{{ doc }}</a></li>
        {% endfor %}
      </ul>
      {% else %}
      brak
      {% endif %}

    </li>
    {% if result.removed_docs %}
    <li>Usunięte dokumenty: {{ result.removed_docs }}</li>
    {% endif %}
    <li><a href="{% url 'search_isap_result_detail' result.id %}">Wszystkie dokumenty</a></li>
  </ul>
  {% empty %}
  <p>Brak zapisanych wyników wyszukiwania.</p>
  {% endfor %}

</div>

{% include 'isap/attribution_isap.html' %}

{% endblock %}
