{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% translate "Search:" %} "{{ search.query }}"
{% endblock title %}
{% block content %}
    <div class="container">
        <h2>{% translate "Saved search" %} "{{ search.query }}"</h2>
        <ul class="list-unstyled">
            <li>{% translate "Firrst run" %}: {{ search.first_run_ts }}</li>
            <li>{% translate "Most recent run" %}: {{ last_run_ts }}</li>
            <li>{% translate "Number unique search results"%}: {{ results.count }}</li>
        </ul>
        <form action="."
              class="form-up"
              method="post"
              up-transition="move-left"
              up-autosubmit>
            {% csrf_token %}
            <div class="form-check">
                <input type="hidden" name="subscribe-search" value="no">
                <input class="form-check-input" type="checkbox" value="yes" name="subscribe-search" id="subscribe-search"
                {% if search.subscribed %}checked{% endif %}>
                    <label class="form-check-label" for="subscribe-search">{% translate "Subscribe search" %}</label>
                </div>
            </form>
            <hr>
            {% for result in results %}
                <h3>
                    {% translate "Search results from" %} {{ result.first_run_ts }} {% translate "to" %} {{ result.last_run_ts }}.
                    <br>
                    {% translate "Number of acts in the search reasult:" %} {{ result.number_of_results }}
                </h3>
                {% if result.new_deeds %}
                    <h4>{% translate "New acts:" %} {{ result.new_deeds|length }}</h4>
                    <table class="table table-striped table-condensed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">{% translate "Title" %}</th>
                                <th scope="col">{% translate "Status" %}</th>
                                <th scope="col">{% translate "Change date" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deed in result.new_deeds %}
                                <tr>
                                    <td>
                                        <a href="{% url 'deed_detail' deed.address %}">{{ deed.title }}</a>
                                    </td>
                                    <td>{{ deed.status }}</td>
                                    <td>{{ deed.change_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>{% translate "No new acts." %}</p>
                {% endif %}
                Usunięte dokumenty:
                {% if result.removed_deeds %}
                    <table class="table table-striped table-condensed">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Tytuł</th>
                                <th scope="col">Status</th>
                                <th scope="col">Zmiana</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for deed in result.removed_deeds %}
                                <tr>
                                    <td>
                                        <a href="{% url 'deed_detail' deed.address %}">{{ deed.title }}</a>
                                    </td>
                                    <td>{{ deed.status }}</td>
                                    <td>{{ deed.change_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    brak
                    <br>
                {% endif %}
                <a href="{% url 'search_isap_result_detail' result.id %}">Wszystkie dokumenty</a>
                {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </div>
        <br>
        {% include "isap/attribution_isap.html" %}
    {% endblock content %}
